<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<meta http-equiv="Refresh" content="5">-->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.14/vue.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>BussPower - {{ title }}</title>
    {% else %}
        <title>BussPower</title>
    {% endif %}

    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}

    <style>
      #map {
        height: 400px;
        margin-top: 10px;
      }
    </style>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a href="#"><IMG SRC="{{url_for('static',filename='busspower_logo.png')}}" ALT="some text" WIDTH=70 HEIGHT=50 style="background-color: white;"></a>
          <!--<a class="navbar-brand mr-4" href="/">BussPower</a>-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            {% if current_user.is_authenticated %}
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
            </div>
            {% endif %}


            {% if current_user.is_authenticated %}
              <a href="{{ url_for('pvtmessages') }}">
              {{ ('Chats') }}
              {% set new_messages = current_user.new_messages() %}
                  <span id="message_count" class="badge"
                      style="visibility: {% if new_messages %}visible
                                         {% else %}hidden {% endif %}; background-color:red;color:white;">
                      {{ new_messages }}
                  </span>
              </a>
            {% endif %}

           <script>
               function set_message_count(n) {
                   $('#message_count').text(n);
                   $('#message_count').css('visibility', n ? 'visible' : 'hidden');
               }
               {% if current_user.is_authenticated %}
               (function() {
                   var since = 0;
                   setInterval(function() {
                       $.ajax('{{ url_for('notifications') }}?since=' + since).done(
                           function(notifications) {
                               for (var i = 0; i < notifications.length; i++) {
                                   if (notifications[i].name == 'unread_message_count')
                                       set_message_count(notifications[i].data);
                                   since = notifications[i].timestamp;
                                }
                            }
                         );
                   }, 10000);
                 });
                 {% endif %}
           </script>


          <script type="text/javascript">
            
                $(function() {
                    var timer = null;
                    var xhr = null;
                    $('.user_popup').hover(
                        function(event) {
                            // mouse in event handler
                            var elem = $(event.currentTarget);
                            timer = setTimeout(function() {
                                timer = null;
                                xhr = $.ajax(
                                    '/user/' + elem.first().text().trim() + '/popup').done(
                                        function(data) {
                                            xhr = null
                                            // create and display popup here
                                            elem.popover({
                                              trigger: 'manual',
                                              html: true,
                                              animation: false,
                                              container: elem,
                                              content: data
                                            }).popover('show');
                                            //flask_moment_render_all();
                                        }
                                    );
                            }, 1000);
                        },
                        function(event) {
                            // mouse out event handler
                            var elem = $(event.currentTarget);
                            if (timer) {
                                clearTimeout(timer);
                                timer = null;
                            }
                            else if (xhr) {
                                xhr.abort();
                                xhr = null;
                            }
                            else {
                                // destroy popup here destroy
                                elem.popover('hide');
                            }
                        }
                    )
                });

          </script>



            <!-- Navbar Right Side -->
            {% if not current_user.is_authenticated %}
            <div class="navbar-nav">   
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            {% else %}
                <a class="nav-item nav-link" href="logout">logout</a>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}


          <script type="text/javascript">
              var autoExpand = function (field) {

              // Reset field height
              field.style.height = 'inherit';

              // Get the computed styles for the element
              var computed = window.getComputedStyle(field);

              // Calculate the height
              var height = parseInt(computed.getPropertyValue('border-top-width'), 10)
                           + parseInt(computed.getPropertyValue('padding-top'), 10)
                           + field.scrollHeight
                           + parseInt(computed.getPropertyValue('padding-bottom'), 10)
                           + parseInt(computed.getPropertyValue('border-bottom-width'), 10);

              field.style.height = height + 'px';

            };

            document.addEventListener('input', function (event) {
              if (event.target.tagName.toLowerCase() !== 'textarea') return;
              autoExpand(event.target);
            }, false);
          </script>


<article class="media content-section" style="background-color: white;/*#FAF3F3;">
    <div class="media-body">
      <div class="article-metadata">
      <!-- start here the chat code templates-->
      <div class="container">
			<div class="row mt-5">
				<div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-12 comments-main pt-4 rounded">
					<form method="POST" action="{{ url_for('send_message2') }}" autocomplete="off">
					<div class="row comment-box-main p-3 rounded-bottom">
				  		<div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">
						  <input type="text" class="form-control" placeholder="Enter name" 
						  name="thename" style="width: 60%;height: 25px;
              margin-bottom: 10px;">
              <textarea type="text" class="form-control" placeholder="Comment ..." 
                name="msg">
              </textarea>
				  		</div>
				  		<div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
				  			<button style="margin-top: 48px;" class="btn btn-info">Send</button>
				  		</div>
					</div>
					</form><br>
					<ul class="p-0">
						<li>
              {% for post in messages %}
							<div class="row comments mb-2">
								<div class="col-md-2 col-sm-2 col-3 text-center user-img">
							    	<img id="profile-photo" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" class="rounded-circle" />
								</div>
									<div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
										<h4 class="m-0"><a href="#">{{ user_link }}</a></h4>
                    {% set user_link %}
                      <span class="user_popup">
                          <a style="color: black;" href="#">{{ post.author.username }}</a>
                      </span>
                    {% endset %}
                    <h4 class="m-0">{{ user_link }}</h4>&nbsp
									  <time class="text-white ml-3">{{ moment(post.timestamp).fromNow() }}</time>
                    <time class="text-white ml-3"><a href="{{ url_for('send_message', recipient=post.author.username) }}" style="color: white;">Reply</a></time>

									    <like></like>
									    <p style="
									      white-space: pre-wrap;
										  /*max-width:600px;*/
										  word-break: break-word;
										  /*overflow-wrap: break-word;*/
										  /*word-break: normal;*/
										  overflow-wrap: normal;
										  color: #000;
										  /*font-size: 20px;*/" class="mb-0 text-white">{{ post.body }}</p>
									</div>
							</div>
							{% endfor %}
						</li>
					</ul>
				</div>
			</div>
		</div>
  </div>
</div>
</article>

		<script type="text/javascript">
			Vue.component('like', {
			    template: "<div class='like-data float-right text-white'><button class='icon-rocknroll mr-1 p-0 border-0' v-class='active: liked' v-on='click: toggleLike'><i class='fa fa-thumbs-up text-white' aria-hidden='true'></i></button><span class='like-count' v-class='active: liked'>{{ likesCount }}</span></div>",
			    data: function() {
			        return {
			            liked: false,
			            likesCount: 0
			        }
			    },
			    methods: {
			        toggleLike: function() {
			            this.liked = !this.liked;
			            this.liked ? this.likesCount++ : this.likesCount--;
			        }
			    }
			});
			new Vue({
			    el: '.comments-main',
			});
		</script>


        </div>
      </div>
    </main>

    <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <footer>
        <div class="foot">
              BussPower@
              <a class="nav-item nav-link" href="#">
              contact</a>
        </div>
    </footer>
</body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.14/vue.min.js'></script>
</html>
